{% extends "base.html" %}
    

{% block content %}
    <div style="margin-top:150px;">

      <div style="text-align:center;">
        <h4>Make an appointment now:</h4>
        <a class="btn btn-danger" href="{% url 'create_appointment' %}"> Create Appointment </a>
      </div>
        
    <div class="doctor-list" style="margin-top:150px; text-align:center;">
        <h4  style="text-align:center;">Appoinments List:</h4> <br>
<table class="table table-hover p-5" style="padding:20px;text-align:center;">
  <thead>
    <tr>
      <th scope="col">Patient Name</th>
      <th scope="col">Age</th>
      <th scope="col">Contact</th>
      <th scope="col">Doctor</th>
      <th scope="col">Diesease Syndrome</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">New/Old Patient</th> 
    </tr>
  </thead>
  <tbody>
    {% for appointment in appointments %}
    
    <tr>
      <th scope="row">{{appointment.patient_name}}</th>
      <th scope="row">{{appointment.patient_age}}</th>
      <th scope="row">{{appointment.patient_contact}}</th>
      <td>{{appointment.doctor}}</td>
      <td>{{appointment.disease_syndrome}}</td>
      <td>{{appointment.date}}</td>
      <td>{{appointment.time}}</td>
      
        {% if appointment.is_new %}
        <td class="text-success">New</td>
        {% else %}
        <td class="text-danger">Old</td>
        {% endif %}
      
    </tr>
    
    {% endfor %}
  </tbody>
</table>
    </div>
    </div>
{% endblock %}
