{% extends 'base.html' %}


{% block content %}

<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:140px;">
      <article class="card-body">
    {% include 'includes/alerts.html' %}
		<header class="mb-4"><h4 class="card-title">Doctor Registration</h4></header>
		<form action="{% url 'doctor_register' %}" method="POST">
      {% csrf_token %}


				<div class="form-row">
					<div class="col form-group">
						<label>Designation</label>
					  	{{ form.designation }}
					</div> <!-- form-group end.// -->
					<div class="col form-group">
						<label>Experience</label>
					  	{{ form.experience }}
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->


				<div class="form-row d-flex">
					<div class="form-group col-md-6">
					  <label>Speciality</label>
					  {{form.speciality}}
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
					  <label>Available</label>
					  {{form.appointment_available_days}}
					</div> <!-- form-group end.// -->
				</div> <!-- form-row.// -->
				
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
			    </div> <!-- form-group// -->
      {{ form.email.errors }}
      {{ form.non_field_errors }}
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>

{% endblock %}
